@model ESW19Backup2.Models.Apoios.Apadrinhar

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details";
}


<div>
    <h4>Apadrinhar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeCao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeCao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TiposDeAjuda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TiposDeAjuda.TipoApadrinhamentoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ApadrinharId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
