@model IEnumerable<ESW19Backup2.Models.Voluntario>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Lista de Voluntários";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profissao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area.Nomes)
                </td>

            </tr>
        }
    </tbody>
</table>
