@model ESW19Backup2.Models.Socios

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Socios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CartaoCidadao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CartaoCidadao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PRofissao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PRofissao)
        </dd>
     
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SociosId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
