@model IEnumerable<ESW19Backup2.Models.Atribuicao>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Titulo"] = "Lista de Horario";
}

    <p>
        <button><a asp-action="Criar">Associar Horario</a></button>
    </p>

    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Funcionarios.Nome)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Horario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tarefa)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Funcionarios.Nome)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Horario.Hora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tarefa.Nome)
                    </td>

                </tr>
            }
        </tbody>
    </table>

